@import url(popup-catalog-item__name-label/popup-catalog-item__name-label.css);
@import url(popup-catalog-item__price-label/popup-catalog-item__price-label.css);

.popup-catalog-item__labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
