@import url(website-menu/website-menu.css);
@import url(catalog-search/catalog-search.css);
@import url(user-navigation/user-navigation.css);

/* # Header */

.header {
    background-color: #111;
}

.header__container {
    margin: 8px auto;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

