@import url(user-data__row.css);
@import url(user-data__row-label.css);

.user-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;

    color: #111;
    font-family: 'Merriweather';
    font-size: 20px;
    line-height: 28px;
}
