.submit-button {
    height: 40px;
    width: 50%;

    background-color: #B41818;
    border: none;
    border-radius: 7px;

    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #111;
}
