.popup-catalog-item__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 7px;
}

.popup-catalog-item__purchase-button {
    height: 40px;
    width: 50%;

    background-color: #B41818;
    border: none;
    border-radius: 7px;

    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    transition: background-color 0.3s;
}

.popup-catalog-item__purchase-button:hover {
    background-color: #111;
}

.popup-catalog-item__continue-button {
    background-color: #fff;
    border: none;
    
    margin: 0;
    padding: 0;

    color: #000;
    font-size: 14px;
    line-height: 21px; 
    text-align: center;
    /* text-transform: uppercase; */
    font-family: 'Merriweather';
    text-decoration: underline;

    /* transition: color 0.2s; */
}

.popup-catalog-item__continue-button:hover {
    color: #555;
}

