.auth-page__restore-password {
    font-family: 'Merriweather';

    font-size: 18px;
    line-height: 27px;

    font-weight: 400;
    font-style: normal;

    text-align: center;

    text-decoration: underline;
    color: #222;

    align-self: center;
}

.auth-page__restore-password:hover {
    color: #B41818;
    text-decoration: none;
}

