.filter-panel {
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
    gap: 15px;

    color: #111;
    font-family: 'Merriweather';
    font-size: 18px;
    line-height: 27px;

    margin-top: 10px;
}

.filter-unit__name-label {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.filter-unit__parameters-list {
    margin-top: 7px;
    margin-bottom: 5px;
}

.filter-unit__parameter {
    margin-left: 3px;
    margin-bottom: 5px;
}

.filter-unit__checkbox {
    margin-right: 8px;
}
