@import url(logo/logo.css);
@import url(submit-button/submit-button.css);

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img-noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
    visibility: hidden;
    width: 0; height: 0;
    position: absolute; top: -9999px; left: -9999px;
}

/* *::selection {
    background: #B41818;
    color: #ffffff;
  }
*::-moz-selection {
    background: #B41818;
    color: #ffffff;
  }
*::-webkit-selection {
    background: #B41818;
    color: #ffffff;
} */

.stike-em-all-page {
    display: flex;
    flex-direction: column;
}
