@import url(website-breadcrumbs__item_previous.css);

.website-breadcrumbs__item {
    font-family: 'Merriweather';
    
    font-size: 18px;
    line-height: 27px;

    font-weight: 400;
    font-style: normal;

    text-align: center;
}
