.footer-info__link {
    color: #FFF;

    font-family: 'Merriweather';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

    transition: color 0.2s;
}

.footer-info__link:hover {
    color: #B41818;
}
