.logo__name-label {
    color: #B41818;
    font-family: 'Odor Mean Chey';

    font-size: 50px;
    line-height: 50px; 
    font-weight: 400;
    font-style: normal;
    
    text-align: center;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}
