.website-menu__link {
    color: #FFF;
    font-family: 'Merriweather';
    
    font-size: 24px;
    line-height: 1.5em; 
    font-weight: 700;
    font-style: normal;

    text-align: center;
    text-transform: uppercase;

    transition: color 0.2s;
}

.website-menu__link_chosen  {
    color: #B41818;
}

.website-menu__link:hover {
    color: #B41818;
}
