.item_catalog__row:first-child {
    flex-basis: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    margin: 0px 10px;
    
}

.item_catalog__row:last-child {
    width: 80%;
}
