@import url(auth-page__form/auth-page__form.css);

.auth-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    padding-top: 20px;
    padding-bottom: 70px;
    margin-right: 15%;
}

