@import url(purchase-popup__close-button/purchase-popup__close-button.css);
@import url(purchase-popup__header/purchase-popup__header.css);
@import url(popup-catalog-item/popup-catalog-item.css);


.purchase-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

.purchase-popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-popup__content {
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    padding: 40px 30px;
    position: relative;
}
