.sort-items__button {
    width: 280px;
    height: 50px;

    background-color: #d9d9d9;
    border: none;
    border-radius: 7px;

    padding: 0px 10px;
    margin: 3px 0;

    font-family: 'Merriweather';
    font-size: 16px;
    line-height: 24px;
    color: #111;
}
