.auth-page__input {
    box-sizing: border-box;
    width: 450px;
    height: 45px;

    padding-left: 15px;

    border: 1px solid #111;
    border-radius: 5px;

    background-color: #fff;
    color: #111;
    
    font-family: 'Merriweather';
    font-size: 16px;
    vertical-align: middle;

    transition: border 0.2s;

    /* margin-bottom: 15px; */
}

.auth-page__input::placeholder {
    color: #888;
    font-family: 'Merriweather';
}

.auth-page__input:focus {
    border: 1px solid #B41818;
    outline: 2px solid #B41818;
}
