@import url(social-media/social-media.css);
@import url(footer-info/footer-info.css);

/* ## Footer */

.footer {
    color: #FFFFFF;
    background-color: #111111;
    
    display: flex;
    flex-direction: row;

    padding-top: 35px;
    padding-bottom: 35px;
}

.footer__container {
    margin: 0 auto;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
